services:
  calculation-module:
    image: mysql:latest
    container_name: calculation-module-mysql
    platform: linux/arm64
    environment:
      MYSQL_ROOT_PASSWORD: test
      MYSQL_USER: test
      MYSQL_PASSWORD: test
      MYSQL_DATABASE: calculation-module-db
    ports:
      - "3316:3306"
    networks:
      - calc-net
  calculation-module-application:
    image: hkstwk/calculation-module:latest
    container_name: calculation-module-app
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:mysql://calculation-module:3306/calculation-module-db
    platform: linux/amd64
    ports:
      - "8081:8080"
    networks:
      - calc-net

networks:
  calc-net:
    driver: bridge
